// レシポンシブ
$sp :650px;
$tab :900px;
$spc :1200px;
 @mixin sp {
    @media screen and (max-width: $sp){
        @content;
    }
 }
 @mixin tab {
    @media screen and (max-width: $tab){
        @content;
    }
 }
 @mixin spc {
    @media screen and (max-width: $spc){
        @content;
    }
 }



html {
    font-size: 62.5%;
    font-family:"Noto Sans JP";
}
h2{
   margin-top:0;
   margin-bottom:0; 
}
a{
    text-decoration: none;
}
.container{
    width:90%;
    max-width:115.2rem;
    margin:0 auto;
}
.common__title{
    font-size:4rem;
    font-family:"Montserrat";
    @include sp{
        font-size:3rem;
    }
}
.common__subtitle{
    font-size:1.4rem;
    margin-top:0;
    font-family:"Noto Sans JP";
    @include sp {
        font-size:1.2rem;
    }
}


// 変数
$white:#FDFDFD;



// header
header{
    width:90%;
    margin-left:auto;
    margin-right:auto;
}
.header {
    width:90%;
    display:flex;
    justify-content: space-between;
    position:fixed;
    
    justify-content: center;
  
    
    

}
.header__logo {
    padding-top:3rem;
    margin-left:0;
    margin-right:auto;
}
.nav__list{
     display:flex;
     text-decoration: none;
    
     padding-top:4rem;
     &__link{
       

     & li{
        list-style: none;
        font-size:2rem;
        padding-left:1rem;
        padding-right:1rem;
        color:$white;
        
        
     }
     & li:hover{
        border-bottom:#EC6D51 2px solid;
     }
    }
}
.menu-btn{
    display:none;
}
// レシポンシブ
@include sp {
.nav__list {
    list-style: none;
    position: absolute;
    width: 100%;
    height: auto;
    top: 80px;
    
    margin-top: 52px;
    padding: 0 0 10px 0;
    clear: both;
    background: var(--background-navbar);
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
    transform: scale(1, 0);
    transform-origin: top;
    justify-content: right;
  } 
  
  /* Hamburger menu button */
  .menu-btn:checked ~ .nav__list {
    transform: scale(1, 1);
    transform-origin: top;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  }
  
  
  
  /* Hamburger menbu text */
  .nav__list a {
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 16px;
    text-transform: capitalize;
    color: #ddd;
    opacity: 0;
    transition: 0.5s;
  }
  
  .nav__list li {
    padding: 15px 0;
    margin: 0px;
    opacity: 0;
    transition: 0.5s;
  }
  
  .menu-btn:checked ~ .nav__list a,
  .menu-btn:checked ~ .nav__list li{
    opacity: 1;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.2s;
  }
  
  .menu-btn {
    display:none;
  }
  
  .menu-icon {
    display: inline-block;
    position: absolute;  /* 絶対配置 */
    top: 10px;           /* 上から10px */
    right: 10px;         /* 右から10pxに固定 */
    cursor: pointer;
    padding: 24px 14px;
    margin-top:5rem;
    
    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  
  .navicon {
    background: #ddd;
    display: block;
    height: 3px;
    width: 26px;
    position: relative;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
    left:95%;
    justify-content: right;
    align-items: right;
  }
  
  .navicon:before,
  .navicon:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    background: #ddd;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  }
  
  .navicon:before {
    top: 9px;
  }
  
  .navicon:after {
    bottom: 9px;
  }
  
  /* Hamburger Menu Animation Start */
  .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before {
    top: 0;
  }
  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    bottom: 0;
  }
  
  .menu-btn:checked ~ .menu-icon .navicon {
    background: rgba(0, 0, 0, 0);
    transition: 0.2192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  }
  
  
  /* Navbar Container */
  .header__nav {
    width: 100%;
    height:52px;
    position: absolute;
    box-sizing: border-box;
    display: flex;
   
  }
  .nav__list{
    flex-direction: column;
  }
  
  /* Navbar Text */
  
}

// トップ
.top {
    background-image: url('../image/top__image.png');
    background-size:cover;
    width:100%;
    color:$white;
   
    padding-bottom:34rem;
    

    &__title{
        font-size:4rem;
        margin-bottom:1.4rem;
        padding-top:34rem;
        padding-left:18rem;
        @include sp {
            font-size:3rem;
            padding-top:25rem;
            padding-left:0;
            text-align: center;
        }
    }
    &__subtitle{
        font-size:1.8rem;
        margin-top:0;
        padding-left:18rem;
        @include sp {
            font-size:1.5rem;
            padding-left:0;
            text-align: center;
        }
    }
}

// news
.news {
    padding-top:14rem;
    margin-left:auto;
    margin-right:auto;
}
.news__top{
    padding-bottom:5rem;
    display:flex;
}
.news__top__view{
    margin-right:0;
    margin-left:auto;
    padding-top:2rem;
    font-size:2rem;

    
}
.news__top__view__more{
    border-bottom:solid 1px #181818;
    position:relative;
    display: inline-block;
    padding-left:7rem;
    padding-right:7rem;
    color:black;
    @include sp {
        padding-left:3rem;
        padding-right:3rem;
        font-size:1.4rem;
    }
    &:hover{
        border-bottom:#181818 2px solid;
        transform: scale(1.2);
    }
    

}
.news__top__view__more::after {
    content: '';
    position: absolute;
    right: 0; /* 矢印の右位置調整 */
    bottom: -0.1rem;
    width: 20px;  /* 矢印の横幅 */
    height: 1px;  /* 矢印の太さ */
    background-color:#181818;
    transform: rotate(45deg);
    transform-origin: right;
  
}

.news__cards{
    display:flex;
    justify-content: space-between;
    @include tab{
        flex-wrap: wrap;
    }
    @include sp{
        width:100%;
        justify-content: center;
    }

    
}
.card{
    width:24%;
    border: 1px solid #D1D1D1;
    @include tab{
        width:45%;
        margin-bottom:3rem;
    }
    @include sp{
        width:80%;
    }

    &__img{
        width:100%;
    }
    &__text{
        padding-top:0;
        padding-left:1.5rem;
        padding-right:1.5rem;
        padding-bottom:0;
        line-height: 1.5;
        font-size:1.6rem;
    }
    &__btn{
        text-align: right;
        padding-bottom:1rem;
        padding-left:1.5rem;
        padding-right:1.5rem;
        font-size:1.4rem;
        
        &__link{
        margin-bottom:2rem;
        margin-right:0;
        margin-left:auto;
        color: #EC6D51;
        border: #EC6D51 solid 1px;
        padding:0.2rem 0.5rem 0.2rem 3rem;

        position: relative;
        z-index: 1;
        overflow: hidden;
        display:inline-block;

        }
        &__link::after{
            background-color:#EC6D51;
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            width: 100%;
            height: 100%;
            transform: scale(0, 1);
            transform-origin: left top;
            transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
            z-index: -1;   
        }

        &__link:hover{
            color:$white;
           
            
        }
        &__link:hover::after{
            transform: scale(1, 1);
        }
    }

}
.detail{
    display:flex;
    justify-content: space-between;
    width:80%;
    margin:14rem auto 14rem auto;
    @include tab{
        width:100%;
    }
    @include sp{
        flex-wrap: wrap;
    }
}
.engineer{
    background-image:url('../image/engineer.png');
    background-size: cover;
    width:45%;
    color:$white;
    @include tab{
        width:48%;
    }
    @include sp{
        width:100%;
        margin-bottom:3rem;
    }

    
}
.engineer__title{
    width:85%;
    margin-left:auto;
    margin-right:auto;
    &__title{
        padding-top:5rem;
        font-size:3.5rem;
        @include sp{
            font-size:2.5rem;
        }
    }
    &__sub{
        margin-top:0;
        font-size: 1.2rem;
        padding-bottom:7rem;
    }
}
   
.engineer__text{
    width:85%;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:13rem;
    @include sp{
        padding-bottom:6rem;
    }
    &__title{
        font-size:2.4rem;
        padding-bottom:2.5rem;
        @include sp{
            font-size:2rem;
            padding-bottom:1.5rem;
        }
    }
    &__text1,&__text2{
        font-size:1.4rem;
        line-height: 1.5;
    }
}

.manager{
    background-image: url('../image/manager.png');
    background-size: cover;
    width:45%;
    color:$white;
    @include tab{
        width:48%;
    }
    @include sp{
        width:100%;
        margin-bottom:3rem;
    }
}
.manager__title{
    width:85%;
    margin-left:auto;
    margin-right:auto;
    &__title{
        padding-top:5rem;
        font-size:3.5rem;
        @include sp{
            font-size:2.5rem;
        }
    }
    &__sub{
        margin-top:0;
        font-size: 1.4rem;
        padding-bottom:7rem;
    }

}
.manager__text{
    width:85%;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:13rem;
    @include sp{
        padding-bottom:6rem;
    }
    &__title{
        font-size:2.4rem;
        padding-bottom:2.5rem;
        @include sp{
            font-size:2rem;
            padding-bottom:1.5rem;
        }
    }
    &__text1,&__text2{
        font-size:1.4rem;
        line-height: 1.5;
    }
}
.engineer__view,
.manager__view{
    width:85%;
    text-align: right;
    font-size:2rem;
    padding-bottom:4rem;
    @include sp{
        text-align: center;
        margin-left:auto;
        margin-right:auto;
    }
}
.engineer__view__more,
.manager__view__more{
    color:$white;
    border-bottom: $white 1px solid; 
    padding:0 5rem;
    position:relative;
    display: inline-block;
    &:hover{
        border-bottom:$white 2px solid;
        transform: scale(1.2);
    }
}
.engineer__view__more::after,
.manager__view__more::after{
    content: '';
    position: absolute;
    right: 0; /* 矢印の右位置調整 */
    bottom: 0;
    width: 20px;  /* 矢印の横幅 */
    height: 1px;  /* 矢印の太さ */
    background-color: $white;
    transform: rotate(45deg);
    transform-origin: right;
}

// feature

.features{
    display:flex;
    justify-content: space-between;
    width:70%;
    margin:0 auto;
    padding-top:5rem;
    margin-bottom:14rem;
    @include tab {
        width:100%;
    }
    @include sp{
        flex-wrap: wrap;
        
    }
}
.cat{
    width:31%;
    border: 1px solid #D1D1D1;
    @include sp{
        width:90%;
        margin-bottom:3rem;
        margin-left: auto;
        margin-right:auto;
    }

    &__img{
        width:100%;
    }
    &__text{
        padding-top:0;
        padding-left:1.5rem;
        padding-right:1.5rem;
        padding-bottom:0;
        font-size:1.6rem;
        line-height: 1.5;
    }
    &__btn{
        text-align: right;
        padding-bottom:3rem;
        padding-left:1.5rem;
        padding-right:1.5rem;
        @include tab{
            text-align: center;
            padding-top:2rem;
            padding-bottom:1rem;
        }
        
        &__more{
        font-size:1.4rem;
        margin-bottom:2rem;
        margin-right:0;
        margin-left:auto;
        color: #EC6D51;
        border: #EC6D51 solid 1px;
        padding:0.3rem 0 0.3rem 3.5rem;
        @include tab{
            padding-left:1rem;
        }
        position: relative;
        z-index: 1;
        overflow: hidden;
        display:inline-block;
        
        &::after{
            background-color:#EC6D51;
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            width: 100%;
            height: 100%;
            transform: scale(0, 1);
            transform-origin: left top;
            transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
            z-index: -1;   
        }
    

        &:hover{
            color:$white;
            
        }
        &:hover::after{
            transform: scale(1, 1);
        }
        }

    }

}
@include tab{
    .tab{
        display:none;
    }
}
.what{
    background-image: url('../image/what.png');
    background-size:cover;
    width:100%;
    color:$white;
    margin-bottom:22rem;
   
}
.what__title{
    width:70%;
    margin:0 auto;
    padding-top:8.5rem;

    &__main{
        font-size:4rem;
        @include sp{
            font-size:3rem;
        }
    }
    &__sub{
        font-size: 1.4rem;
        @include sp{
            font-size:1.2rem;
        }
    }
}
.what__text{
    width:70%;
    margin:0 auto;
    padding-top:4.5rem;
    padding-bottom:7rem;

    &__first{
        font-size:1.8rem;
        padding-bottom:4rem;
        line-height: 1.5;
        @include sp{
            font-size:1.4rem;
        }
    }

    &__sec{
        font-size:1.8rem;
        line-height: 1.5;
        @include sp{
            font-size:1.4rem;
        }
    }

}
// course

.course__top{
    padding-bottom:7rem;
    @include sp{
        padding-bottom:5rem;
    }
}
.courses{
    display:flex;
    justify-content: space-between;
    padding-bottom:14rem;
    @include tab {
        flex-wrap: wrap;
    }
}

.courses__menu{
    width:24%;
    @include tab{
        width:45%;
        margin-bottom:3rem;
    }
    @include sp{
        width:90%;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:6rem;
    }

    &__img{
        width:100%;
    }
    
    &__title{
        font-size:2.6rem;
        padding-top:2rem;
        padding-bottom:0.1rem;
    }
    &__filter{
        font-size:2.6rem;
        padding-top:2rem;
        padding-bottom:0.1rem;
        color:#8B8B8B;
    }
    &__sub{
        font-size:1.4rem;
        padding-bottom:0.8rem;
        color:#5D5D5D;
        margin:0;
    }
    &__date{
        font-size:1.4rem;
        margin-bottom:1.6rem;
        display: inline;
        background-color: #EC6D51;
        color:$white;
        padding:0 0.6rem;
        
    }
    &__text{
        font-size:1.6rem;
        line-height: 1.5;
        padding-bottom:4rem;
        @include sp{
            padding-bottom:2rem;
        }
    }
    
}
.courses__more{
    margin-right:0;
    margin-left:auto;
    text-align:right;
    &__btn{
        font-size:2rem;
        border-bottom:black solid 1px;
        padding-left:20%;
        padding-right:15%;
        position:relative;
        display: inline-block;
        color:black;
        &:hover{
            border-bottom:#181818 2px solid;
            transform: scale(1.2);
        }
    }
    &__btn::after{
        content: '';
        position: absolute;
        right: 0; /* 矢印の右位置調整 */
        bottom: 0;
        width: 20px;  /* 矢印の横幅 */
        height: 1px;  /* 矢印の太さ */
        background-color:black;
        transform: rotate(45deg);
        transform-origin: right;
    }
}
.courses__fil{
    margin-right:0;
    margin-left:auto;
    text-align:right;
    &__btn{
        font-size:2rem;
        border-bottom:#8B8B8B solid 1px;
        padding-left:20%;
        padding-right:15%;
        position:relative;
        display: inline-block;
        color:#8B8B8B;
        &:hover{
            border-bottom:#8B8B8B 2px solid;
            transform: scale(1.2);
        }
    }
    &__btn::after{
        content: '';
        position: absolute;
        right: 0; /* 矢印の右位置調整 */
        bottom: 0;
        width: 20px;  /* 矢印の横幅 */
        height: 1px;  /* 矢印の太さ */
        background-color:#8B8B8B;
        transform: rotate(45deg);
        transform-origin: right;
    }
}

.strategy{
    background-image: url('../image/what.png');
    background-size:cover;
    width:100%;
    color:$white;
    margin-bottom:22rem;
   
}
.strategy__title{
    width:70%;
    margin:0 auto;
    padding-top:8.5rem;

    &__main{
        font-size:4rem;
        @include sp {
            font-size:3rem;
        }
    }
    &__sub{
        font-size: 1.4rem;
        @include sp {
            font-size:1.2rem;
        }
    }
}
.strategy__text{
    width:70%;
    margin:0 auto;
    padding-top:4.5rem;
    padding-bottom:7rem;

    &__first{
        font-size:1.8rem;
        padding-bottom:4rem;
        line-height: 1.5;
        @include sp {
            font-size:1.4rem;
        }
    }

    &__sec{
        font-size:1.8rem;
        line-height: 1.5;
        @include sp {
            font-size:1.4rem;
        }
    }

}
// infomation
.infomation{
    padding-bottom:14rem;
}
.infomation__top{
    padding-bottom:8.5rem;
    @include sp{
        padding-bottom:5rem;
    }
}
.infomation__main{
    display:flex;
    width:85%;
    margin-right:auto;
    margin-left:auto;
    border:#E8E7E6 1px solid;
    @include tab{
        flex-direction: column;
    }
}
.infomation__item,
.infomation__body{
    flex: 1 1 50%; /* 幅を50%に */
    padding: 10px;
    box-sizing: border-box; 
}
.infomation__item__img{
    width: 100%; 
    height: auto;
}
.infomation__body{
    &__title{
        font-size:4rem;
        padding-top:8rem;
        padding-bottom:4rem;
        @include tab{
            padding-top:3rem;
        }
        @include sp{
            font-size:2.6rem;
        }
    }
    &__text{
        font-size:1.4rem;
        line-height:1.5;
        padding-bottom:8rem;
    }
    &__more{
        font-size:1.4rem;
        margin-right:0;
        margin-left:auto;
        text-align: right;
        &__btn{
            color:black;
            margin-bottom:2rem;
            color: #EC6D51;
            border: #EC6D51 solid 1px;
            padding:0.5rem 0 0.5rem 3.5rem;
            position: relative;
            z-index: 1;
            overflow: hidden;
            display:inline-block;
            &:hover{
                color:$white;
            }
            &::after{
                background-color:#EC6D51;
                position: absolute;
                top: 0;
                left: 0;
                content: '';
                width: 100%;
                height: 100%;
                transform: scale(0, 1);
                transform-origin: left top;
                transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
                z-index: -1;   
            }
    
            &:hover{
                color:$white;                
            }
            &:hover::after{
                transform: scale(1, 1);
            }
        }
    }
}

        
        

// contact

.contact{
    margin-bottom:14rem;
}
.contact__form{
    padding-top:14rem;
    margin:0 auto;
    width:80%;
    @include sp {
        padding-top:5rem;
    }
}
.form-group {
    margin-bottom: 6rem;
    position: relative;
    padding-top:0.5rem;
}
label {
    margin-bottom: 2rem;
    position: absolute;
    top: -2rem;
    left: 10px;
    padding: 0 5px;
    font-size:1.4rem;
}
.required-label{
    color:$white;
    background-color:#EC6D51;
    padding:0 0.4rem;
    border-radius: 3px;
    margin-right:0.5rem;
}
.unrequired-label{
    color:$white;
    background-color:#8B8B8B;
    padding:0 0.4rem;
    border-radius: 3px;
    margin-right:0.5rem;
}
input, textarea {
    width: 100%;
    padding: 15px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin:3rem auto 3rem auto;
    
}
input::placeholder, textarea::placeholder {
    font-size: 1.4rem; 
    color: #8B8B8B;
    opacity: 0.5; 
}
.submit{
   
    text-align: right;
}
.submit__btn{
    padding: 1.5rem 4rem;
    font-size: 1.4rem;
    color: $white;
    background-color: #EC6D51;
    border: none;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    border: #EC6D51 2px solid;
    &::after{
        background-color: $white;
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform .4s cubic-bezier(0.45, 0, 0.55, 1);
        z-index: -1;   
    }

    &:hover {
        color: #EC6D51;
        border: #EC6D51 2px solid;
    }

    &:hover::after {
        transform: scaleX(1);
    }
}


// footer
.footer{
    background-color:#E8E7E6;
}
.footer__flex{
    display:flex;
    width:90%;
    margin:0 auto;
    padding-top:6rem;
    padding-bottom:6rem;
    @include tab{
        flex-direction: column;
        margin-left:auto;
        margin-right:auto;

    }
   &__logo{
    width:35%;
    @include tab{
        width:100%;
        text-align: center;
    }
   }
   &__list{
    width:60%;
    @include tab{
        margin-right:auto;
        margin-left:auto;
        
        width:100%;

    }
    
   }
}

.footer__flex__list__items{
    display:flex;
    justify-content:space-between;
    padding-top:2rem;
    @include tab{
        flex-direction: column;
        margin-right:auto;
        margin-left:auto;
        justify-content: center;
        line-height: 3;
        width:30%;

    }
}

.list__item{
    
    &__link{
        list-style: none;
        font-size:1.6rem;
        &:hover{
            color:#FDFDFD;
            font-size:2.6rem;
        }
    }
}
.copy{
    padding-bottom:5rem;
    text-align: center;
    color:#8B8B8B;
    font-size:1.4rem;
}